.commentInfo {
  .imgComment{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
  }
  .comment {
    font-size: 0.9rem;
    background-color: rgb(239, 235, 235);
    width: 20vw;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .comment{
    width: 96% !important;
    margin-left: 15px;
  }
}
