.imgInfo {
  background-image: url("../../../images/couple-cat.jpeg");
  background-position: center;
  background-size: cover;
  .imgInfoFilter {
    background-color: white;
    border-radius: 24px;
    filter: drop-shadow(2px 2px 12px #000000);
    -webkit-filter: drop-shadow(2px 2px 12px #000000);
    -moz-filter: drop-shadow(2px 2px 12px #000000);
  }
}
