.modals {
  .logoInfo {
    color: #fce2cc;
    background-color: transparent;
    font-size: 90px;
  }
  .btnDeleteImage {
    padding: 11px 22px !important;
    border-radius: 5px;
    text-transform: capitalize;
    background: #3085d6 !important;
    color: white;
  }
  .btnCancelImage {
    padding: 11px 22px !important;
    border-radius: 5px;
    text-transform: capitalize;
    background: #dd3333 !important;
    color: white;
  }
}
