.petService {
  background-image: url("../../../images/bg4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fefae0;
  .hoverItem1:hover,
  .hoverItem2:hover,
  .hoverItem3:hover {
    transform: translateY(-20px);
    transition: all 0.3s;
    border: 3px dashed purple;
  }
}
